:root {
--bg: #000000;
--pt: #999999;
}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}*{box-sizing:border-box}
body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;line-height:1.5;color:var(--pt);background:var(--bg)}

.container-lg{max-width:1024px;margin:0 auto}
.px-3{padding-left:16px;padding-right:16px}
.my-5{margin-top:32px;margin-bottom:32px}

.markdown-body p{font-size:16.5px;margin:0 0 10px;letter-spacing: 0.2px;max-width: 870px;}
.markdown-body h1{line-height:1.25;font-size:2em;font-weight: 600;
padding-bottom: 0.3em;margin-top: 24px;margin-bottom: 16px;
border-bottom: 1px solid #eaecef;}

.markdown-body h2{
font-size:1.7em; font-weight:400;
display:grid;grid-template-columns:auto 1fr;align-items:start;
color:var(--pt);
border-bottom: 1px solid #eaecef;
}

.mht{
font-size: 2em !important;
color: white;
font-weight: auto !important;
}

h2#cheker{
font-size:2.5em; font-weight:600;
line-height: 1.25;margin-top:24px;margin-bottom: 16px;
border-bottom:0;
}
.markdown-body h2 a{text-decoration:underline;color:var(--pt);display:block;font-size:0.54em;line-height:1.2;padding-top:.75em}

.markdown-body a{color:#0366d6;text-decoration:none}.markdown-body a:hover{text-decoration:underline}
.markdown-body strong{font-weight: 600;}
.markdown-body img{width: auto; height: auto; max-width: none;}
.markdown-body blockquote{margin:0;padding-left:16px;border-left:4px solid #dfe2e5;color:#586069}
.markdown-body code{font:14px SFMono-Regular,Consolas,monospace;background:#f5f5f5;border-radius:3px;
white-space: pre-wrap; 
display: inline-block;
padding: 6px 12px;
line-height:1.25;
}
.markdown-body ul{margin:0 0 10px 24px;padding:0}
.markdown-body video{width:100%; display:block; border-radius:6px; margin-bottom: -16.5px;}
.markdown-body li{max-width: 800px}

summary{text-decoration: underline;}
summary:hover{text-decoration:none;cursor:pointer;}

h2#cheker{color:grey}

.btn-about{display:flex;align-items:flex-start;}

.cslink{ text-align: right; margin-right: 4px; }
.cslink p{max-width: none !important}
.cslink a{text-decoration: underline;}.cslink a:hover{text-decoration:none}

.cslink.yt a{color:#ff9500;}
.cslink.mn a{color:#0366d6;}

/* width fix Web = 95% Mobile = 100% */
.markdown-body video,
.cslink { width: clamp(95%, 100% + (100vw - 780px) * (95 - 100) / (1000 - 780), 100%);
}

@media (max-width: 780px) {
.markdown-body img{width:100%; height: auto;}
.brkr{display: block;}
}

.btnico{margin-bottom:8px;margin-right:12px;float:left; width: 84px !important; min-width:84px;aspect-ratio: 1 / 1;
background-repeat:no-repeat;background-position:center;display:flex;align-items:center;justify-content:center;}



.downico{display:block}
.downico::before{content:"";display:inline-block;width:1em;height:0.8em;margin-right:0.1em;
-webkit-mask:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11 2h2v10h4l-5 5-5-5h4V2zm-7 16h16v2H4v-2z'/%3E%3C/svg%3E") no-repeat center / contain;mask:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11 2h2v10h4l-5 5-5-5h4V2zm-7 16h16v2H4v-2z'/%3E%3C/svg%3E") no-repeat center / contain;background-color:currentColor;transform:translateY(-0.1em);
}
